<h3>Estadísticas</h3>

<h4>Número de preguntas: <%=quizes%></h4>
<h4>Número de comentarios totales: <%=comments%></h4>
<h4>Número de preguntas sin comentarios: <%=quesWithCom%></h4>
<h4>Número de preguntas con comentarios: <%=quesWithoutCom%></h4>
<h4>Número medio de comentarios por pregunta: <%=midComments%></h4>

